{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>#DefineYourClothes</title>
    </head>
    <body>
        <header>
            <div></div>
            <a href="#">#DefineYourClothes</a>
            <img src="{% static 'images/qr.png' %}" alt="qr">     
        </header>

        <h1>Register for a new user</h1>
        <h3>{{errMsg}}</h3>
        
        <form action="#" method="POST">
            <img src="{% static 'images/newUser.png' %}" class="startimg" id="loginImg" alt="newuser">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="button">Register</button>
        </form>

        <footer>
            <a  href="#"><img src="{% static 'images/home.png' %}" alt="home"></a>
            <a  href="#"><img src="{% static 'images/add.png' %}" alt="add"></a>
            <a  href="#"><img src="{% static 'images/notice.png' %}" alt="notice"></a>
            <a  href="{% url 'homepage' %}"><img src="{% static 'images/user.png' %}" alt="user"></a>
        </footer>
    </body>
</html>